*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }
    .outer{
        height: 100vh;
        overflow-x: hidden;
    }
    .inner{
        margin: 50px auto;
        width: 600px;
        height: 600px;
        background-image: url(https://image.posterlounge.se/img/products/690000/681136/681136_poster_l.jpg); /* or url(https://www.....) if the image is online */
        background-size: cover;
        background-position: center;
        position: relative;
        box-shadow: 0px 0px 30px 10px rgba(3, 109, 209, 0.4);
    }
    .inner h1{
        width: 60%;
        text-align: center;
        font-size: 38px;
        border: 5px solid rgb(3, 109, 209);
        color: rgb(0, 132, 255);
        top: 40%;
        left: 20%;
        position: absolute;
    }
        