*{
  margin: 2%; /* set a margin to everything in the page */
  font-family: 'Poppins', sans-serif; /* set default font */
  font-family: 'Roboto', sans-serif; /* set default font */
}
body {
    font-size: 100%; /* start value*/
    margin: auto;  /* centers the page */
    max-width: 860px; /* set body's max width */
  }

.startpage {
  display: flex; /* sets startpage to a flexbox */
  flex-wrap: wrap; /* wraps everything in startpage */
  justify-content: space-between; /* set spacing between objects in startpage */
}

.startpage header, .startpage footer {
  flex: 0 0 100%; /* sets the initial legnth of the header and footer to the body's max width*/
}

.startpage section {
  flex: 0 0 28%; /* sets the initial legnth of the menues so they're beside each other inside the body's max width */
}
.startpage h1 {
  font-size: 500%; /* set font size of the rubric of the page */
  color: #111; /* set color of the rubric of the page */
  font-weight: 400; /* set fonts thickness of the rubric of the page */
}
 
header {
  text-align: center; /* align text in header to cente */
  margin-bottom: 100px; /* set a margin to the bottom of header */
}
.hwrap{
  margin-bottom: 50px; /* set a margin to the bottom of hwrap */
}
.logo{
  margin: 50px auto; /* put margin to bottom and top and center on left and right*/
  width: 500px; /* change image width*/
  height: 400px; /* change image height */
  background-size: cover; /* make the image's div size cover from side to side */
  background-position: center; /* centering the image's div */
  position: relative; /* positions the object relative to its normal position */
  box-shadow: 0px 0px 30px 10px rgba(3, 109, 209, 0.4); /* add a shadow to the image */
}

.play{
  left: 1150px;
  position: fixed;
  font-size: 50px;
  margin-top: 100px;
  color: #3da7fe; /* change color of the icon*/
}

.tagline {
  font-size: 30px; /* change the font size */
  line-height: 60px; /* sets the line height, space between the text and icon*/
  color: #111; /* change the color */
  font-weight: 300; /* change fonts the thickness */
}
.icon{
  display: flex !important; /* make the icon a flex item. !important will make this override another styling, so I don't mess things up*/
  flex-direction: column !important; /* sets the icon's direction to vertical. !important will make this override another styling, so I don't mess things up */
}
.icon{
  font-size: 90px; /* change size of the icon */
  color: #3da7fe; /* change color of the icon*/
}

.menu h2{
  margin-bottom: 2em; /* set a margin between the menues and the footer */
  padding: 3em 0; /* set some padding in the div on bottom and top */
  background-color: #3da7fe;  /* change color of the div backgound*/
  text-align: center; /* centering the text on the menues */
  border-radius: 10px; /* make the menues a bit rounded */
  transition: 0.5s; /* sets the transition time of the hovering effects to 0.5s */
  
}
.menu h2 a{
  color: #fff; /* changes the menu text colors */
  text-decoration: none; /* remove the underline that comes with an a-tag */
  font-weight: 300; /* changes the menu texts thickness */
  transition: 0.5s; /* sets the transition time of the hovering effects to 0.5s */
}
.menu h2:focus, .menu h2:hover{
  background-color: #318eda; /* changes the menu texts color when hovering or focusing */
  box-shadow: 0 0 20px rgba(3, 90, 172, 0.5); /* add shadows to the menu boxes when hovering or focusing */
  text-decoration: underline; /* add the a-tag underline to the text when hovering or focusing */
}

.footer{
  margin-top: 3em; /* set distance between the menues and the footer*/
  text-align: center; /* centering the text*/
  font-weight: 100; /* changes the texts thickness */
  font-style: italic; /* changes the fonts style to italic */
}
