body {
    font-size: 100%; /* start value*/
    margin: auto;  /* centers the page */
    max-width: 860px;  
  }
 
/*  section, header, footer {
        outline: 1px solid red;
  } */
 
  header {
    text-align: center;
    margin-bottom: 100px;
  }
 
  .startpage h1 {
    font-size: 500%; /* Big title on the start page*/
  }

  .fas{
      font-size: 50px;
  }
 
  .tagline {
    font-size: 30px;
    padding: 0.5em; /* distance to the border*/
/*  border-top: 3px double #00AF64;
    border-bottom: 3px double #00AF64;   */
    margin: 1em 0; /* distance downwards but not upwards*/
  }
 
   .menu h2{
    margin: 0 0 2em;
    padding: 3em 0;
    background-color: #50B4D9;  /* very light gray*/
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
  }
  .menu h2:hover{
    background-color: #217F96;
  }
  .menu h2 a{
    color: #fff;
    text-decoration: none;
  }
  .menu p{
        font-size: 17px;
        text-align: center;
  }
 
  .footer{
    margin-top: 5em;
    text-align: center;
  }